* {
    box-sizing: border-box;
}
.title {
    color : red;
    background-color: black;
   
}
body {
    margin: 0;
    padding: 0;
   
}
.subtitle {
    color: aqua;
    background-color: black;
    width:80%
}
h1 {
    margin: 2rem;
    background-color: black;
    border: 1px solid blue;
    display: inline-block;
    padding: 1rem;
    color:beige;
    font-family: monospace;
    font-size: 2rem;
    width : 80%;
    height : 5rem;
    
    
}
h1:active {
    background-color: aquamarine;
    color:coral
}
#checkbox {
    color: red;
}
button {
    width: 20%;
    height: 50px;
    border-radius: 30%;


}
button:hover {
    color:blueviolet;
    background-color: darkgoldenrod;
}
button:active {
    color:blue;
    background-color: black;
    box-shadow: none;
    transform:translateY(4px);
}
form >nav{
   background-color: red;
   flex : 2 0  auto;
}
form {
    display:flex;
}form div{
    background-color: blue;
    flex : 1 0  auto;
 }
 div {
    background-color: aqua;
    
 }
